{% extends "base.html" %}

{% block content %}

  {% if not page.meta.title == 'Home' %}
    {% if page.meta.kind %}
      <h5>
        {{page.meta.kind}} {{page.meta.code}}
      </h5>
    {% else %}
      <h5>
        Section {{page.meta.code}}
      </h5>
    {% endif %}
    <h4>
      {{page.meta.title}}
    </h4>
    <hr>
  {% endif %}


  {{ page.content }}

  <br>
  <br>

  {% if page.meta.reference %}
    <hr>
    <div class='footnote'>
      <p>
        <small>
          References: {{page.meta.reference}}
        </small>
      </p>
    </div>
    <br>
  {% endif %}

  {% if page.meta.kind %}
    <p>
      {# Slug rule must match boardify.naming.slugify_title. #}
      <a href="{{ config.extra.pdf_base_url }}/{{ page.meta.code }}-{{ page.meta.kind | lower }}-{{ page.meta.title | lower | replace(' ', '-') | replace(',', '') | replace('(', '') | replace(')', '') }}.pdf">Download PDF</a>
    </p>
  {% endif %}
{% endblock content %}
